<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Alumno</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='img/logo.png') }}" alt="Logotipo de la escuela" class="logo" width = "800" height="341">
        <h1>Registro de Alumno</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('lista_alumnos') }}">Ver Alumnos</a></li>
        </ul>
    </nav>
    <main>
        <form id="pago-form">
            <input type="hidden" name="alumno_id" value="{{ alumno.id }}">
    
            <label for="fecha">Fecha:</label>
            <input type="date" id="fecha" name="fecha" required>
    
            <label for="monto">Monto:</label>
            <input type="number" id="monto" name="monto" step="0.01" required>
    
            <label for="concepto">Concepto:</label>
            <input type="text" id="concepto" name="concepto" required>
    
            <button type="submit">Registrar Pago</button>

            <h3>Registrar Pago</h3>
        </form>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>