<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro de Equipo</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <h1>Registro de Equipo</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{{ url_for('index') }}">Inicio</a></li>
            <li><a href="{{ url_for('pedidos') }}">Ver Pedidos</a></li>
        </ul>
    </nav>
    <main>
        <form id="registro-equipo-form">
            <label for="nombre_solicitante">Nombre del Solicitante:</label>
            <input type="text" id="nombre_solicitante" name="nombre_solicitante" required>

            <div id="productos-container">
                <button type="button" id="agregar-producto">Agregar Producto</button>
            </div>

            <button type="submit">Registrar Pedidos</button>
        </form>
    </main>
    <script src="{{ url_for('static', filename='js/registro_equipo.js') }}"></script>
</body>
</html>